<a href="https://colab.research.google.com/github/RishabhXYZA/Mini-project-1-Python-assignment-Thapar-Summer-School/blob/main/Day_2_Mini_Project_1_Assignment_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Mini Project-01: Python Assignment

In [ ]:
#Q1
L=[11,12,13,14]
print(L)

[11, 12, 13, 14]

In [ ]:
#i)Add elements 50 and 60
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

In [ ]:
#ii)Remove elements 11 and 13
L.remove(11)
L.remove(13)
print("List after removing 11 and 13 is -->",L)

List after removing 11 and 13 is --> [12, 14, 50, 60]

In [ ]:
#iii)Sort in ascending order
L.sort()
print("List after sorting in ascending order -->",L)
#iv)Sort in descending order
L.sort(reverse=True)
print("List after sorting it in descending order -->",L)

List after sorting in ascending order --> [12, 14, 50, 60]
List after sorting it in descending order --> [60, 50, 14, 12]

In [ ]:
#v)
#vi)Count the number of elements present in L
print(len(L))

4

In [ ]:
##vii) Sum of all elements in L
sum=0
for i in L:
    sum+=i
print("Sum of all elements present in L -->",sum)

#viii) Sum of all odd elements in L
sum1=0
for i in L:
  if i%2==1:
    sum1+=i
print("Sum of all odd elements present in L-->",sum1)

#ix)Sum of all even elements in L
sum2=0
for i in L:
  if i%2==0:
    sum2+=i
print("Sum of all even elements present in L-->",sum2)

Sum of all elements present in L --> 136
Sum of all odd elements present in L--> 0
Sum of all even elements present in L--> 136

In [ ]:
#xi) clear all elements in L
L.clear()
print("List after using clear command in list -->",L)

List after using clear command in list --> []

In [ ]:
#xii) Wap to delete L
del L
print("List L is deleted")

List L is deleted

**Q2 D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}**

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print("Dictionary -->",D)

Dictionary --> {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}

In [ ]:
#i)add new entry key=8 and value=8.8
D[8]=8.8
print("After adding new entry -->",D)

After adding new entry --> {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
#ii)remove key=2
del D[2]
print("After removing the key=2 -->",D)

After removing the key=2 --> {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
#iii)Check whether 6 key is present in D
if 6 in D:
    print("Key is present")
else:
    print("Key is not present")
#iv)Count the number of elements in D
print("Length of dictionary -->",len(D))

Key is not present
Length of dictionary --> 5

In [ ]:
#v) add al values present in D
sum3=0
for i in D.values():
    sum3+=i
print("Sum of all values present in D -->",sum3)

Sum of all values present in D --> 37.4

In [ ]:
#vi) Wap to update value of 3 to 7.1
D[3]=7.1
print("After updating value of 3 to 7.1 -->",D)

After updating value of 3 to 7.1 --> {1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
#vii) Wap to clear the dictionary
del D
print("Dictionary D is deleted")

Dictionary D is deleted

Q3 S1=[10,20,30,40,50,60] ; S2=[40,50,60,70,80,90]

In [ ]:
S1={10,20,30,40,50,60}
S2={40,50,60,70,80,90}
print("Set 1 -->",S1)
print("Set 2 -->",S2)

Set 1 --> {50, 20, 40, 10, 60, 30}
Set 2 --> {80, 50, 70, 40, 90, 60}

In [ ]:
#i) Add 55 and 66 in S1
S1.add(55)
S1.add(66)
print("After adding 55 and 66 -->",S1)

#ii) to remove 10 and 30 from S1
S1.remove(10)
S1.remove(30)
print("After removing 10 and 30 -->",S1)

After adding 55 and 66 --> {50, 66, 20, 55, 40, 10, 60, 30}
After removing 10 and 30 --> {50, 66, 20, 55, 40, 60}

In [ ]:
#iii) Check 40 is present or not in S1
if 40 in S1:
  print("40 is present in set 1")
else:
  print("40 is n't present in set 1")

40 is present in set 1

In [ ]:
#iv) Union b/w S1 and S2
S1=S1.union(S2)
print("Union of S1 and S2 -->",S1)

#v)Intersection b/w S1 and S2
S3=S1.intersection(S2)
print("Intersection of S1 and S2",S3)

#vi) Find S1-S2
S1=S1.difference(S2)
print("S1-S2 -->",S1)

Union of S1 and S2 --> {66, 70, 40, 80, 50, 20, 55, 90, 60}
Intersection of S1 and S2 {70, 40, 80, 50, 90, 60}
S1-S2 --> {66, 20, 55}

Q4 Write the program
(i) Print 100 random strings b/w length of 6 and 8
(ii) Print all prime numbers b/w 600 and 800
(iii) Print all numbers b/w 100 and 1000 divisible by 7 and 9

In [ ]:
#i)
import random as r
import string as s
for i in range(100):
  length=r.randint(6,8)
  print(''.join(r.choices(s.ascii_letters,k=length)))

kZhaJvc
dUqYtYns
StewnTq
JvZZqIpS
SObSZOGJ
QFcFBYx
SsPVdZk
YAhCLJ
wrFbvz
ehugaH
SVZqqxhK
GfGIdyY
QCryOeFC
yyfhdZyB
jFMZAG
vBfxao
nsoeSkR
yhRYoM
JMBMesAp
maXaJmz
dtgsxKGH
dBkCmbxk
HTWBgECc
qJdGSY
uaqNCS
UphQjlF
ODpjoh
HWWWOF
aEhooqd
lOjoef
cBPBzR
HiqIrdN
xUaArLO
QKCVLnm
uAxJACBd
JcgMbG
gIJyWXa
BtNmzHk
wKxQssv
fcEoKF
TfUnOpNv
EuPQaXo
fFlcaiQY
huGwtMD
SOyjpHn
YiWZKcG
tIoGvlj
IlHbidjl
qwsqPYmQ
NhHzbAdU
RvjoRvex
bXLTvszA
YufKhW
HZPhIk
yynKAsJ
UkVVEot
zhTcGX
GerzLayb
iHcuVIO
QMySVl
QpYlPrDE
HYSvcDz
pdKOXk
JRDVMK
QBbAHMM
UxQsgEJz
GPhhYUJt
fssNAEA
DGZFWu
rEQLXqhP
cpRuEs
cGMywH
qGEceJNr
cNAXOf
FCEVwYU
myrXRHn
jemaOx
NocMoewC
eLlZfhY
fFUuGejA
BDqIFV
pctEbK
lsthXw
WBkwBvz
elDCPdTo
DMciffL
vgARkrEO
CqCclyxs
YqZDbnXE
fLpQDt
PthzLCKL
lizRcnXm
dBwIOU
jQpWSDb
PSrOVHJ
zCZKDjiV
RadoePO
NCEdzQG
OHnnFPd
VRLFWUaA

In [ ]:
#ii)
for i in range(600,800):
  count=0
  for j in range(1,i+1):
    if i%j==0:
      count+=1
  if count==2:
    print(i)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [ ]:
#iii)
print("Numbers divisible by 7 and 9 --> \t")
for i in range(100,1000):
  if i%7==0 and i%9==0:
    print(i)

Numbers divisible by 7 and 9 -->
126
189
252
315
378
441
504
567
630
693
756
819
882
945

Q5 create 2 lists of 10 random numbers b/w 10 and 30

In [ ]:
import random as r
L1=r.sample(range(10,30),10)
L2=r.sample(range(10,30),10)
print("list 1 -->",L1)
print("list 2 -->",L2)

#i)Common number in two list
L3=set(L1)
L4=set(L2)
print("Common numbers in two list -->",list(L3.intersection(L4)))

##ii)
print("Unique number in two list -->",list(L3.symmetric_difference(L4)))

#iii) Minimum in both the list
print("Minimum in both the list -->",min(L1+L2))

#iv) Maximum in both the list
print("Maximum in both the list -->",max(L1+L2))

#v) Sum of both the lists
print("Sum of both the lists -->",sum(L1+L2))

list 1 --> [20, 17, 15, 11, 10, 14, 28, 21, 16, 27]
list 2 --> [21, 22, 26, 10, 11, 27, 17, 25, 18, 12]
Common numbers in two list --> [10, 11, 17, 21, 27]
Unique number in two list --> [12, 14, 15, 16, 18, 20, 22, 25, 26, 28]
Minimum in both the list --> 10
Maximum in both the list --> 28
Sum of both the lists --> 368

Q6 Create 100 randoms numbers b/w 100 and 900

In [ ]:
import random as r
L=r.sample(range(100,900),100)
print("List -->",L)

#i) Odd numbers
print("Odd numbers in list -->")
for i in range(0,len(L)):
  if L[i]%2==1:
    print(L[i])

List --> [653, 176, 829, 528, 600, 354, 388, 618, 155, 270, 188, 650, 289, 707, 836, 473, 749, 347, 257, 361, 894, 673, 427, 101, 352, 234, 500, 899, 827, 411, 253, 175, 296, 574, 757, 852, 192, 322, 228, 406, 429, 216, 325, 372, 348, 164, 610, 585, 136, 366, 297, 435, 480, 719, 129, 245, 512, 403, 170, 575, 104, 872, 466, 567, 124, 142, 324, 459, 242, 189, 107, 519, 464, 213, 357, 351, 404, 443, 740, 373, 205, 838, 426, 134, 236, 238, 844, 451, 677, 619, 168, 514, 144, 558, 572, 722, 503, 565, 391, 816]
Odd numbers in list -->
653
829
155
289
707
473
749
347
257
361
673
427
101
899
827
411
253
175
757
429
325
585
297
435
719
129
245
403
575
567
459
189
107
519
213
357
351
443
373
205
451
677
619
503
565
391

In [ ]:
#ii) Even numbers
print("Even numbers in list-->")
for i in range(0,len(L)):
  if L[i]%2==0:
    print(L[i])

Even numbers in list-->
176
528
600
354
388
618
270
188
650
836
894
352
234
500
296
574
852
192
322
228
406
216
372
348
164
610
136
366
480
512
170
104
872
466
124
142
324
242
464
404
740
838
426
134
236
238
844
168
514
144
558
572
722
816

In [ ]:
#iii)Prime numbers in  list
print("Prime numbers in list -->")
for i in range(0,len(L)):
  count=0
  for j in range(1,L[i]+1):
    if L[i]%j==0:
      count+=1
  if count==2:
    print(L[i])

Prime numbers in list -->
653
829
347
257
673
101
827
757
719
107
443
373
677
619
503

Q7 D={1:"One",2:"Two",3:"Three",4:"Four",5:"Five"}

In [ ]:
D={1:"One",2:"Two",3:"Three",4:"Four",5:"Five"}
print("Dictionary",D)

Dictionary {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

In [ ]:
print(D[1])
print(D[2])
print(D[3])

One
Two
Three

**Q8** **100 random strings b/w 10 and 15**

In [5]:
import random as r
import string as s
for i in range(100):
  length=r.randint(10,15)
  print(''.join(r.choices(s.ascii_letters,k=length)))

jvLoQmFGGLZqjeq
DXnkvLvPtCQtRw
MKcQRuzNTYyObzP
BNvbzdvwEtfOT
gyuVKSFxwONz
ghAzLlNjcpMAS
rExxIcAXCPN
vSpEEScUdSdGdB
yHyMBycZWttTg
lupBMhitOJedViV
LcTnSUROjsATnFa
PPOqbwAGXEDglxY
IEtjpKPlIKsNnz
wKWQlNPInudltsj
qTHfRbdoNoWD
DsTzOyXCEXbNoy
cCZQuTUhdJF
fbVQPuEXPtVTE
UUZHDuaHKmW
BRdqSgqCbdvlTw
HqOoqQUKGEyU
vOQSBgxqTfCO
fFZzDqjtVxuu
RoojFwOndKnUE
pdUseqqqMaaaro
sZdVMszQxFJMLR
szXitUoHazcaOs
sYkXvkcaUk
xvldRAswFpwyk
kcPwTVHWfNlKaN
xfNRZQVUPafP
hJuZCzaazWX
RlTNArCZpxhzC
rWCfAiLMJWiDAw
IaoipoAURCZqn
KvUGvhbjyh
MHBrfpUSmTegEhy
JJnuMwugKme
VFlNlVAcyw
ZoePWTjTefKtE
vDusZjdiXk
gdjPibptsqySvOH
PZUeIkpNHiqxYP
PCpNoRTgORdVp
reBkSXsjYFvOHZ
mHNACYPoyAD
FbxUugrCwo
mequLmTagJE
hzNTFYvDNfhvC
ZGToTouyif
dMROLMdhLAGqbs
txDTjeEqPV
xMDbbHIFUJtlT
DbXjNAVjlbMfj
fgFEPhiqFLrd
wGfUttjTeeoecO
bGSAdmKikY
enBKdagOwVQIXM
QcGrEvzHpXzaH
tvkEBvSZOOHoZ
OxDxAYzSpOu
oSJyRcmUsjYdQy
jItxFGAKKxurVFW
evXWUDPsjEW
iTsQyxSeRAvK
mYmjQiJGNH
UsauFErhzOCnjAm
sBvvAxZQkPxazx
BDIPapiwLpPWsnS
npYJgxeaLUxRj
xLMmfrHThguEdkE
kFVlHNhueopq
LoCkqdFFba
vHuSSbyGHwMcD
FuYvIqKJcxs
SnHcaiNaIv
OvahDCxaMmjW
dTGLmDSwSK
oGOmNdRSZIr
uzpcVlhuhDm
ZlyEuySYlIejC
nNvfRfyyMEgBFX
KcRbizcKMH
uxwAAXctoZcK
EqEKURWHLSPm
fJAlDHQrGHp
FZEUwlOvBzcKh
KlPnxriUWnL
UAQxhIYPzQJPomh
CjZuODZXkL
sgCnAQwIcYuAA
UVKzXituxhl
hyAuoOqbzMV
mabfJHNQYMeGKTe
oJmixTIvdzej
MGJfDiwCtf
BymPJBQIVlr
tkkQqAxBVpPD
gDvswbtIZVKwn
caGiuYNwFbrO

**Q9** **Print prime number b/w 600 qnd 800**

In [17]:
for i in range(600,800):
  count=0
  for j in range(1,i+1):
    if i%j==0:
      count+=1
  if count==2:
    print(i)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

**Q10** **Calculate time taken by the program**

In [18]:
import time as t
t1=t.time()
for i in range(600,800):
  count=0
  for j in range(1,i+1):
    if i%j==0:
      count+=1
  if count==2:
    print(i)
t.sleep(1)
t3=t.time()
print(f"Total runtime of the program is {t3-t1} seconds")

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
Total runtime of the program is 1.0163886547088623 seconds

**Q11**  **Time taken by number of elements present in list and plot the time graph**

In [11]:
#Time Taken 5000 elements of list
import time as t
t1=t.time()
for j in range(5000):
  x=[1 for i in range(5000)]

t.sleep(5)
t2=t.time()
print("Time taken -->",t2-t1)

Time taken --> 5.724958658218384

In [13]:
#Time taken by 10000 elements in list
import time as t
t1=t.time()
for j in range(10000):
  x=[1 for i in range(10000)]

t.sleep(5)
t2=t.time()
print("Time taken -->",t2-t1)

Time taken --> 7.953682899475098

In [14]:
#Time taken by 15000 elements in list
import time as t
t1=t.time()
for j in range(15000):
  x=[1 for i in range(15000)]

t.sleep(5)
t2=t.time()
print("Time taken -->",t2-t1)

Time taken --> 12.140164852142334

In [15]:
#Time taken by 20000 elements in list
import time as t
t1=t.time()
for j in range(20000):
  x=[1 for i in range(20000)]

t.sleep(5)
t2=t.time()
print("Time taken -->",t2-t1)

Time taken --> 20.282752513885498

In [16]:
#Time taken by 25000 elements in list
import time as t
t1=t.time()
for j in range(25000):
  x=[1 for i in range(25000)]

t.sleep(5)
t2=t.time()
print("Time taken -->",t2-t1)

Time taken --> 26.629680395126343

![Screenshot (140).png]()

![Screenshot (141).png]()

Q12 Create a dictionary of student marks in five subjects and find max and min average marks

In [ ]:
D={
    '1':[55,60,75,75,72],
    '2':[56,87,44,33,46],
    '3':[68,78,88,82,98],
    '4':[78,72,78,85,88],
    '5':[88,78,88,90,68],
}
print("Dictionary -->",D)

Dictionary --> {'1': [55, 60, 75, 75, 72], '2': [56, 87, 44, 33, 46], '3': [68, 78, 88, 82, 98], '4': [78, 72, 78, 85, 88], '5': [88, 78, 88, 90, 68]}

In [ ]:
#Student with average and minimum marks
total_sum_of_all_marks = 0
for marks_list in D.values():
    total_sum_of_all_marks += sum(marks_list)

# Calculate the total number of marks across all students
total_number_of_marks = 0
for marks_list in D.values():
    total_number_of_marks += len(marks_list)

# Calculate the average of all marks
average_of_all_marks = total_sum_of_all_marks / total_number_of_marks

print("Average of all marks across all students:", average_of_all_marks)

# If you intended to find the average of the *sum* of marks for each student
# (i.e., the average total mark per student), the code would be:
sum_of_total_marks_per_student = 0
for marks_list in D.values():
    sum_of_total_marks_per_student += sum(marks_list)

average_total_mark_per_student = sum_of_total_marks_per_student / len(D)
print("Average total mark per student:", average_total_mark_per_student)

# To find the student with the maximum average marks and minimum average marks
student_averages = {}
for student_id, marks_list in D.items():
    student_averages[student_id] = sum(marks_list) / len(marks_list)

max_avg_student = max(student_averages, key=student_averages.get)
min_avg_student = min(student_averages, key=student_averages.get)

print(f"Student with maximum average marks (ID): {max_avg_student} (Average: {student_averages[max_avg_student]:.2f})")
print(f"Student with minimum average marks (ID): {min_avg_student} (Average: {student_averages[min_avg_student]:.2f})")

Average of all marks across all students: 73.2
Average total mark per student: 366.0
Student with maximum average marks (ID): 3 (Average: 82.80)
Student with minimum average marks (ID): 2 (Average: 53.20)